.App {
  text-align: center;
}
.movie-image {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.movie-image:hover {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.movie-image:hover .overlay {
  opacity: 1;
}
.favorite-icon {
  transition: transform 0.3s ease;
}

.favorite-icon.added {
  transform: scale(1.2);
}

.favorite-icon.removed {
  transform: scale(0.8);
}
